/*
    1. Posicionamiento.
    2. Modelo de caja.
    3. Tipografía.
    4. Visualización.
    5. Otros.
*/

:root {
    /*colors*/
    --White: #FFFFFF;
    --Text-input-field: #F7F7F7;
    --Very-light-pink: #C7C7C7;
    --Hospital-green:#ACD9B2;
    --Dark: #232830;
    --Black: #000000;
}
    
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 411px;
    min-width: 320px;
    max-width: 500px;
    max-height: 823px;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', 'Quicksand', sans-serif ;
}

/* login.html */

.main-login-container .bacground-img-close {
    width: 15px;
    height: 15px;
    margin-left: 90%;
    margin-top: 25px;
    background-image: url('/assets/icons/icon_close.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-login-container .bacground-img-logo {
    width: 250px;
    height: 50px;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 50px;
    background-image: url('/assets/logos/logo_yard_sale.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mail-zone p{
    padding-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size:1.4rem;
    font-family: Quicksand;
    font-weight: bold;
    line-height: 1.6rem;
    color: var(--Black)
}

.mail-zone a{
    position: relative;
    display: block;
    top: 5px;    
    margin-left: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: 50px;
    padding-left: 10px;
    padding-top: 20px;
    background: var(--Text-input-field) ;
    font-family: Quicksand;
    border: none;
    border-radius: 15px;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--Very-light-pink);
}

.login-zone .log-in-button{
    position: relative;
    display: block;
    top: 25px;    
    margin-left: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: 60px;
    padding-top: 20px;
    background: var(--Hospital-green) ;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 2.2rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--White);    
}

.login-zone p{
    padding-top: 40px;
    margin-left: 20px;
    margin-bottom: 40px;
    text-align: center;
    font-family: Quicksand;
    font-size:1.4rem;
    font-weight: bold;
    line-height: 1.6rem;
    color: var(--Hospital-green);
}

.login-zone .sign-up-button{
    position: relative;
    display: block;
    top: 130px;    
    margin-left: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: 60px;
    padding-top: 20px;
    background: transparent;
    border: solid;
    border-radius: 15px;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    color:var(--Hospital-green);    
}

/* password_recovery.html */

.main-password_recovery-container .bacground-img-logo {
    width: 150px;
    height: 30px;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 80px;
    background-image: url('/assets/logos/logo_yard_sale.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.info-pasword-recovery h2{
    margin-top: 30px;
    margin-bottom: 25px;
    text-align: center;
    font-family: Quicksand;
    font-size:2rem;
    font-weight: bold;
    line-height: 1.6rem;
    color: var(--Black);
}

.info-pasword-recovery p{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-family: Quicksand;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
    color: var(--Very-light-pink);
} 

/* new_account.html */

.new_account_container .mail-zone{
    margin-bottom: 200px;
}

header{
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-rows: 1fr;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;    
}

nav{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 50px;
    padding-top: 15px;
}
nav .icon_menu{
    padding-left: 15px;
}

nav .icon-logo{
    text-align: center;
}

nav .icon-notif{
    padding-right: 15px;
    justify-self: end;
}

.mail-zone h2{
    padding-left: 20px;
    margin-bottom: 50px;
    font-family: Quicksand;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
}

.create_account_button{
position: relative;
display: block;
top: 100px;    
margin-left: 20px;
margin-bottom: 20px;
width: 90%;
height: 60px;
padding-top: 20px;
background: var(--Hospital-green) ;
border: none;
border-radius: 15px;
text-align: center;
font-family: Quicksand;
font-weight: bold;
font-size: 2.2rem;
font-weight: 500;
text-decoration: none;
color: var(--White); 
}

/* home */

.search-zone .nome-box{
position: absolute;
display: block;
top: 70px;    
margin-left: 20px;
margin-bottom: 15px;
width: 90%;
height: 50px;
padding-left: 10px;
padding-top: 15px;
background: var(--Text-input-field) ;
font-family: Quicksand;
border: none;
border-radius: 15px;
font-size: 1.8rem;
font-weight: 500;
text-decoration: none;
color: var(--Very-light-pink);
}

.search-zone .nome-box span{
    display:inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url('../assets/icons/lupa.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.items-menu{
    position: relative;
    margin-top: 80px;
    padding-top: 10px;
    display: grid;
    grid-template-rows: 1fr;
}



.order-button {
    width: 100%;
    height: 30px;
    margin-top:  120px;
    font-size: 1.6rem;
    display: block;
    text-align: center;

}

.order-button b{
    margin-right:5px;
    color: var(--Black);
    font-weight: bold;
}

.order-button p{
    font-weight: normal;    
    color: var(--Very-light-pink);
}

.order-button span{
    display:inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}